# Required by the function
# tensorflow==2.4.0 # temporal until available wheels
tensorflow-hub==0.10.0
Pillow==8.2.0
numpy==1.21.0

# Required by tensorflow
# (optional) to avoid tensorflow install wrong dependencies
flatbuffers==1.12
wheel==0.36.2
wrapt==1.12.1
protobuf==3.15.8
grpcio==1.37.0
absl-py==0.12.0
termcolor==1.1.0
tensorboard==2.4.1
h5py==3.2.1
typing-extensions==3.7.4.3
opt-einsum==3.3.0
six==1.15.0
astunparse==1.6.3
tensorflow-estimator==2.4.0
# numpy
keras-preprocessing==1.1.2
google-pasta==0.2.0
gast==0.4.0