# Required by the function
tensorflow-hub==0.12.0
Pillow==9.3.0
numpy==1.22.3

# Required by tensorflow
# (optional) to avoid tensorflow install wrong dependencies
flatbuffers==1.12
wheel==0.36.2
wrapt==1.14.1
protobuf==3.18.3
grpcio==1.37.0
absl-py==0.12.0
termcolor==1.1.0
tensorboard==2.4.1
h5py==3.6.0
typing-extensions==3.7.4.3
opt-einsum==3.3.0
six==1.15.0
astunparse==1.6.3
tensorflow-estimator==2.4.0
keras-preprocessing==1.1.2
google-pasta==0.2.0
gast==0.4.0